In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd.set_option('display.max_columns',100)

In [62]:
df=pd.read_csv('C:/Users/Prabhakaran/Downloads/LoanDataset/train.csv')
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [63]:
df.shape

(233154, 41)

### Attribute description

• disbursed_amount: Amount of Loan disbursed
• asset_cost: Cost of the Asset
• ltv: Loan to Value of the asset
• branch_id: Branch where the loan was disbursed
• supplier_id: Vehicle Dealer where the loan was disbursed
• manufacturer_id: Vehicle manufacturer(Hero, Honda, TVS etc.)
• Current_pincode_ID: Current pincode of the customer
• Date.of.Birth: Date of birth of the customer
• Employment.Type: Employment Type of the customer (Salaried/Self Employed)
• DisbursalDate: Date of disbursement
• State_ID: State of disbursement
• Employee_code_ID: Employee of the organization who logged the disbursement
• MobileNo_Avl_Flag: if Mobile no. was shared by the customer then flagged as 1
• Aadhar_flag: if aadhar was shared by the customer then flagged as 1
• PAN_flag: if pan was shared by the customer then flagged as 1
• VoterID_flag: if voter was shared by the customer then flagged as 1
• Driving_flag: if DL was shared by the customer then flagged as 1
• Passport_flag: if passport was shared by the customer then flagged as 1
• PERFORM_CNS.SCORE: Bureau Score
• PERFORM_CNS.SCORE.DESCRIPTION: Bureau score description
• PRI.NO.OF.ACCTS: count of total loans taken by the customer at the time of disbursement
• PRI.ACTIVE.ACCTS: count of active loans taken by the customer at the time of disbursement
• PRI.OVERDUE.ACCTS: count of default accounts at the time of disbursement
• PRI.CURRENT.BALANCE: total Principal outstanding amount of the active loans at the time of disbursement
• PRI.SANCTIONED.AMOUNT: total amount that was sanctioned for all the loans at the time of disbursement
• PRI.DISBURSED.AMOUNT: total amount that was disbursed for all the loans at the time of disbursement
• SEC.NO.OF.ACCTS: count of total loans taken by the customer at the time of disbursement
• SEC.ACTIVE.ACCTS: count of active loans taken by the customer at the time of disbursement
• SEC.OVERDUE.ACCTS: count of default accounts at the time of disbursement
• SEC.CURRENT.BALANCE: total Principal outstanding amount of the active loans at the time of disbursement
• SEC.SANCTIONED.AMOUNT: total amount that was sanctioned for all the loans at the time of disbursement
• SEC.DISBURSED.AMOUNT: total amount that was disbursed for all the loans at the time of disbursement
• PRIMARY.INSTAL.AMT: EMI Amount of the primary loan
• SEC.INSTAL.AMT: EMI Amount of the secondary loan
• NEW.ACCTS.IN.LAST.SIX.MONTHS: New loans taken by the customer in last 6 months before the disbursment
• DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS: Loans defaulted in the last 6 months
• AVERAGE.ACCT.AGE: Average loan tenure
• CREDIT.HISTORY.LENGTH: Time since first loan
• NO.OF_INQUIRIES: Enquries done by the customer for loans
• loan_default: Payment default in the first EMI on due date

### Correlation

In [64]:
df.corr()['loan_default'].sort_values(ascending=False)

loan_default                           1.000000
ltv                                    0.098208
disbursed_amount                       0.077675
State_ID                               0.048075
VoterID_flag                           0.043747
NO.OF_INQUIRIES                        0.043678
PRI.OVERDUE.ACCTS                      0.040872
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0.034462
UniqueID                               0.033848
branch_id                              0.030193
Current_pincode_ID                     0.028419
supplier_id                            0.027357
Employee_code_ID                       0.020657
asset_cost                             0.014261
PAN_flag                               0.002046
SEC.OVERDUE.ACCTS                     -0.001371
SEC.INSTAL.AMT                        -0.001548
SEC.CURRENT.BALANCE                   -0.005531
Driving_flag                          -0.005821
SEC.ACTIVE.ACCTS                      -0.005993
SEC.DISBURSED.AMOUNT                  -0.006248
SEC.SANCTIONED.AMOUNT                 -0.006354
Passport_flag                         -0.007602
SEC.NO.OF.ACCTS                       -0.008385
PRIMARY.INSTAL.AMT                    -0.010616
PRI.DISBURSED.AMOUNT                  -0.011155
PRI.SANCTIONED.AMOUNT                 -0.011304
manufacturer_id                       -0.025039
PRI.CURRENT.BALANCE                   -0.027386
NEW.ACCTS.IN.LAST.SIX.MONTHS          -0.029400
PRI.NO.OF.ACCTS                       -0.035456
PRI.ACTIVE.ACCTS                      -0.041451
Aadhar_flag                           -0.041593
PERFORM_CNS.SCORE                     -0.057929
MobileNo_Avl_Flag                           NaN
Name: loan_default, dtype: float64

### Finding unneccessary columns and dropping them

In [65]:
df['MobileNo_Avl_Flag'].value_counts()

1    233154
Name: MobileNo_Avl_Flag, dtype: int64

In [66]:
unneccessary_columns=['UniqueID','MobileNo_Avl_Flag']

In [67]:
df.drop(unneccessary_columns,axis=1,inplace=True)

In [68]:
df.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [69]:
df.dtypes

disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
supplier_id                              int64
manufacturer_id                          int64
Current_pincode_ID                       int64
Date.of.Birth                           object
Employment.Type                         object
DisbursalDate                           object
State_ID                                 int64
Employee_code_ID                         int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
Driving_flag                             int64
Passport_flag                            int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.OVERDUE.ACCTS                        int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                             int64
dtype: object

### Checking null values and imputing them

In [70]:
null_count = pd.DataFrame(df.isnull().sum(), columns=['Count'])
null_count[null_count.Count>0]

                 Count
Employment.Type   7661

In [71]:
df['Employment.Type'].fillna('Others',inplace=True)

In [72]:
df['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Others             7661
Name: Employment.Type, dtype: int64

In [73]:
df['Employment.Type'] = df['Employment.Type'].replace({'Self employed':0, 'Salaried':1 ,'Others':2})

In [74]:
df['Employment.Type'].head()

0    1
1    0
2    0
3    0
4    0
Name: Employment.Type, dtype: int64

### Renaming columns

In [46]:
df.rename(columns={'Employment.Type':'Employment_Type'},inplace=True)

### Function to convert AVERAGE.ACCT.AGE and CREDIT.HISTORY.LENGTH to months

In [47]:
def duration(dur):
    yrs = int(dur.split(' ')[0].replace('yrs',''))
    mon = int(dur.split(' ')[1].replace('mon',''))
    return yrs*12+mon

In [48]:
df['Avg_Loan_tenure'] = df['AVERAGE.ACCT.AGE'].apply(duration)
df['Time_since_1st_loan'] = df['CREDIT.HISTORY.LENGTH'].apply(duration)

In [49]:
df.drop(['AVERAGE.ACCT.AGE','CREDIT.HISTORY.LENGTH'],axis=1,inplace=True)

In [50]:
df.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment_Type,DisbursalDate,State_ID,Employee_code_ID,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default,Avg_Loan_tenure,Time_since_1st_loan
0,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,0,1,23,23
2,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,1,1,8,15
4,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

In [51]:
numerical = ['disbursed_amount','asset_cost','ltv','PRI.CURRENT.BALANCE','PRI.SANCTIONED.AMOUNT',
             'PRI.DISBURSED.AMOUNT','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT','SEC.DISBURSED.AMOUNT',
             'PRIMARY.INSTAL.AMT','SEC.INSTAL.AMT']

In [52]:
df.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment_Type,DisbursalDate,State_ID,Employee_code_ID,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default,Avg_Loan_tenure,Time_since_1st_loan
0,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,0,1,23,23
2,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,1,1,8,15
4,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

### Age at the time of loan disbursal

In [53]:
def age(dur):
    yr = int(dur.split('-')[2])
    if yr >=0 and yr<=19:
        return yr+2000
    else:
         return yr+1900

df['Date.of.Birth'] = df['Date.of.Birth'].apply(age)
df['DisbursalDate'] = df['DisbursalDate'].apply(age)

In [54]:
df['Age_at_disbursal']=df['DisbursalDate']-df['Date.of.Birth']

In [55]:
df.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment_Type,DisbursalDate,State_ID,Employee_code_ID,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default,Avg_Loan_tenure,Time_since_1st_loan,Age_at_disbursal
0,50578,58400,89.55,67,22807,45,1441,1984,Salaried,2018,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,34
1,47145,65550,73.23,67,22807,45,1502,1985,Self employed,2018,6,1998,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,0,1,23,23,33
2,53278,61360,89.63,67,22807,45,1497,1985,Self employed,2018,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,33
3,57513,66113,88.48,67,22807,45,1501,1993,Self employed,2018,6,1998,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,1,1,8,15,25
4,52378,60300,88.39,67,22807,45,1495,1977,Self employed,2018,6,1998,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,41

In [56]:
lower={}
upper={}
for i in numerical:
        q1=df[i].quantile(0.25)
        q3=df[i].quantile(0.75)
        iqr=q3-q1
        lower[i]=q1 - iqr * 1.5
        upper[i]=q3 + iqr * 1.5

In [57]:
l=[]
for i in numerical:
    l.append(df.loc[(df[i]<lower[i])|(df[i]>upper[i]),i].index)

In [58]:
l[0]&l[1]&l[2]

Int64Index([  5401,  16688,  19930,  23970,  24021,  27340,  27357,  27830,
             30920,  31884,
            ...
            196433, 202730, 204264, 211905, 214447, 216920, 219255, 222665,
            227131, 228867],
           dtype='int64', length=114)

In [59]:
df1=df.loc[0:5000,:]

In [ ]:
df1['flag']=0
for row in range(len(df1)):
    count=0
    for col in numerical:
        if (df1.loc[row,col] < lower[col]) or (df1.loc[row,col] > upper[col]) :
            count+=1
        if count>=4:
            df1.loc[row,'flag'] = 1

df1.head()

df1[df1['flag']==1].shape

In [60]:
df.corr()['loan_default'].abs().sort_values(ascending=False)

loan_default                           1.000000
ltv                                    0.098208
disbursed_amount                       0.077675
PERFORM_CNS.SCORE                      0.057929
State_ID                               0.048075
VoterID_flag                           0.043747
NO.OF_INQUIRIES                        0.043678
Time_since_1st_loan                    0.042126
Aadhar_flag                            0.041593
PRI.ACTIVE.ACCTS                       0.041451
PRI.OVERDUE.ACCTS                      0.040872
Age_at_disbursal                       0.037287
Date.of.Birth                          0.037287
PRI.NO.OF.ACCTS                        0.035456
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0.034462
branch_id                              0.030193
NEW.ACCTS.IN.LAST.SIX.MONTHS           0.029400
Current_pincode_ID                     0.028419
PRI.CURRENT.BALANCE                    0.027386
supplier_id                            0.027357
manufacturer_id                        0.025039
Avg_Loan_tenure                        0.024781
Employee_code_ID                       0.020657
asset_cost                             0.014261
PRI.SANCTIONED.AMOUNT                  0.011304
PRI.DISBURSED.AMOUNT                   0.011155
PRIMARY.INSTAL.AMT                     0.010616
SEC.NO.OF.ACCTS                        0.008385
Passport_flag                          0.007602
SEC.SANCTIONED.AMOUNT                  0.006354
SEC.DISBURSED.AMOUNT                   0.006248
SEC.ACTIVE.ACCTS                       0.005993
Driving_flag                           0.005821
SEC.CURRENT.BALANCE                    0.005531
PAN_flag                               0.002046
SEC.INSTAL.AMT                         0.001548
SEC.OVERDUE.ACCTS                      0.001371
DisbursalDate                               NaN
Name: loan_default, dtype: float64